/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gb-primary: #ff9614;
  --gb-secondary: #4e3969;
  --gb-light: #f6f5f3;
  --gb-lighter: #ffffff;
  --gb-dark: #010101;
}
/* #endregion common */

/* #region column utilities */

.col {
  width: auto;
  flex-basis: auto;
}

[class^="col"] {
  padding: 1rem;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

/* #endregion column utilities */

/* #region header */
header {
  h1 {
    font-family: "Nerko One", serif;
    color: var(--gb-primary);
    text-align: center;
    font-size: 2.75rem;
    padding: 1rem;
  }
}
/* #endregion header*/

/* #region mediaqueries */
@media screen and (min-width: 768px) {
  header {
    h1 {
      text-align: left;
      margin-left: 1.5rem;
    }
  }
}

@media screen and (min-width: 992px) {
}
/* #endregion mediaqueries */
